/*Dit is de opmaak van mijn website */
/*Hier wordt de standaardkleur van de hokjes bepaald. In dit geval is dit #333 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  /*Hier staat dat alle hokjes links van het scherm gaan staan */
  li {
    float: left;
  }
  /*Hier wordt de kleur van de letters bepaald. De letters zijn wit. 
  De letters komen in het midden van alle knopjes te staan. */
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* De achtergrond van de knopjes wordt kleur #111 (zwart) als je eroverheen gaat met je muis */
  li a:hover {
    background-color: #111;
  }

  /*De achtergrond van mijn website wordt beige */
body{
  background-color: beige;
}